.appPrev {
    width: 12rem;
    height: 20rem;
    border-radius: 25px;
    padding: 0;
    margin: 1rem;
}

.hvrImg {
    width: 100%;
    height: 20rem;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
    border-radius: 25px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

a:active, a:focus, a:target, a {
    color: rgb(68, 68, 68) !important;
    transition: 0.3s;
}

a:hover {
    color: rgb(75, 164, 224) !important; 
    transition: 0.3s;
}

.skAppImg {
    background-image: url("../../assets/Images/skApp.PNG");
}

.tdAppImg {
    background-image: url("../../assets/Images/tdApp.PNG");
}

.cfNfImg {
    background-image: url("../../assets/Images/cl-nf.PNG");
}

.canvasGameImg {
    background-image: url("../../assets/Images/canvasGameApp.PNG");
}

.hubAppImg {
    background-image: url("../../assets/Images/hubAppHomePage.PNG");
}

.appText {
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    opacity: 1;
    position: absolute;
    align-self: center;
    transition: 0.2s;
}

.appTextBg, .appTextBg2 {
    width: 100%;
    height: 20rem;
    opacity: 0.8;
    position: absolute;
    border-radius: 25px;
    transition: 0.2s;
}

.appTextBg {
    background-color: rgb(43, 78, 107);
}

.appTextBg2 {
    background-color: rgb(43, 78, 107);
}

.list-group-flush {
    font-size: 1rem;
    position: fixed;
    z-index: 99;
    border-radius: 25px;
}

.listGroupContainer {
    top: 0;
    left: 0;
    border-radius: 25px;
    margin-top: 2rem;
    margin-left: 1rem;
}

.backgroundNav, .listGroupContainer, .list-group-flush {
    background-color: #EEEEEE;
}

.backgroundNav {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.hvrImg:hover > .appTextBg, .hvrImg:hover > .appTextBg2, .hvrImg:hover  .appText {
    opacity: 0;
    font-size: 2rem;
    transition: 0.2s;
}


.miniNav {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0rem;
    padding-top: 0.3rem;
    position: fixed;
    z-index: 10;
}


.nav-link {
    transition: 0.3s;
    padding: 0.5rem;
}



.custom-shape-divider-top-1615196599 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1615196599 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 39px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1615196599 .shape-fill {
    fill: #EEEEEE;
}

.custom-shape-divider-bottom-1618235735 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1618235735 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 55px;
}

.custom-shape-divider-bottom-1618235735 .shape-fill {
    fill: #EEEEEE;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1615196599 svg {
        width: calc(100% + 1.3px);
        height: 53px;
    }
    .custom-shape-divider-bottom-1618235735 svg {
        width: calc(100% + 1.3px);
        height: 53px;
    }

}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1615196599 svg {
        width: calc(110% + 1.3px);
        height: 40px;
    }
    .custom-shape-divider-bottom-1618235735 svg {
        width: calc(110% + 1.3px);
        height: 40px;
    }

}

