body {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #006e99;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: none;
    border-radius: 5px;
    background-color: whitesmoke;

    color: rgba(180, 180, 180, 0.363);
}

