body, html {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    cursor: none;
    background-color: #006e99;
    font-family: 'Russo One', sans-serif;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

div.scoreOverlay {
    opacity: 0;
    position: fixed;
    font-weight: bold;
    color: white;
    padding: 2rem;
    transition: 0.5s;
}

.container {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10rem;
}

.guiScreen {
    display: block;
    position: absolute;
    background-color: whitesmoke;
    width: 20rem;
    padding: 1rem;
    border-radius: 25px;
    text-align: center;
    -moz-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 8px 6px rgba(0, 0, 0, 0.37);
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.37);
    transition: 0.5s;
}

.restartGameBtn {
    display: none;
    margin: 0 auto;
}

.startGameBtn, .restartGameBtn {
    font-weight: bold;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 1rem;
    color: whitesmoke;
    background-color: rgb(48, 141, 247);
    border-radius: 25px;
    border: none;
    transition: 0.5s;
    outline: none;
}

.startGameBtn:hover, .restartGameBtn:hover {
    border-radius: 0;
    opacity: 0.6;
    transition: 0.3s;
}

#totalScoreEl {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
}

.totalScoreText {
    padding-top: 0;
    margin-top: 0;
}


