/* Text CSS classes and ID's */

#header-inner {
    color: rgb(45, 47, 48);
    font-size: 8rem;
    font-family: 'Bree Serif';
    margin-bottom: 6rem;
}

#sub-text {
    border-left: none;
}

#header, .ltr-blue, .ltr-dark {
    font-weight: bold;
}

#sub-text, .body-text {
    font-size: 1.4rem;
    line-height: 2rem;
}

.ltr-blue {
    color: rgb(85, 180, 235);
}

.ltr-dark {
    color: rgb(45, 47, 48);
}

.sect-1 {
    margin-top: 10rem;
    height: 100vh;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .sect-1 {
        display: grid;
        text-align: left;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        grid-template-areas: "headr headr subtext subtext";
    }
    #header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20rem;
        grid-area: headr;
    }
    #header-inner {
        margin-bottom: 1rem;
        transform: scale(80%);
    }
    #sub-text {
        grid-area: subtext;
        border-left: 4px solid grey;
        height: 20rem;
        transform: skew(-10deg);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        background-color: #EEEEEE;

    }
    #sub-text-inner {
        transform: skew(10deg);
        padding-left: 2rem;
    }
    /* home-component animation settings */
    #header {
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: headr;
        opacity: 0;
        margin-left: 25rem;
    }
    @keyframes headr {
        100% {
            opacity: 1;
            margin-left: 0rem;
        }
    }
}

