.webDiv {
    overflow: hidden;
}

.webImg, .webLink:hover > .webImg, .webText, .webLink:hover > div h3.webText {
    transition: 0.3s;
}

.webLink:hover > div img.webImg {
    scale: 150%;
    opacity: 0.5;
}

.webLink:hover > div h3.webText {
    color: black;
}

